.modal {
	display: none;
	position: fixed;
	z-index: 999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:  rgba(0, 0, 0, 0.5);
}

#modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 60%;
	max-width: 600px;
}

.close-btn {
	color: white;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 45px;
	transition: transform .5s ease-in-out;
}

.close-btn:hover,
.close-btn:focus {
	transform: scale(1.3);
	text-decoration: none;
	cursor: pointer;
}

.my-slides {
	display: none;
}

.modal-title {
	background-color: #fff;
	border-radius: .5rem .5rem 0 0;
	padding-left: .5rem;
	margin: 0;
}

.modal-info {
	height: 100px;
}

.modal-attr {
	color: $dark-grey;
	padding: .5rem 0;
}

.modal-avatar {
    float: left;
    height: 75px;
    margin-right: 1rem;
    width: 75px;
}
